# Este é o arquivo base para configuração do banco de dados que o bot utiliza.

# IP do banco de dados:
host = ''

# Nome do usuário que será utilizado:
user = ''

# Senha deste usuário:
password = ''

# Nome do bando de dados (se não existente, será criado):
database = ''

# ID do canal de logs de alterações no banco de dados:
logs_channel_id = 