# Arquivo base para as configurações hard-coded do bot.
# Neste arquivo ficarão armazenadas variáveis importantes para o arquivo principal do bot, por ora.
# Para utilizá-lo, faça uma cópia deste arquivo como settings.py.
# Este arquivo foi criado com o intuito de fazer o código do bot mais seguro.

# Token do BOT, obtido na página: discord.com/developers/applications/id_da_aplicação/bot
bot_token = ''

# Prefixo para os comandos do BOT:
bot_prefix = ''

# Nome do bot:
bot_name = ''

# Somente o nome da pasta, que deve estar no mesmo diretório do arquivo bot.py
modules_dir = ''

# Tipo de atividade do BOT (streaming[twitch.tv/], watching, listening, playing):
activity_type = ''
streaming_url = ''

# Nome/descrição da atividade padrão do BOT:
activity_name = ''

# Nome do autor do BOT
author_name = ''

# ID do autor do BOT
author_id = ''

# URL utilizada para referenciar o site da comunidade em embeds ou outros:
url = ''

# Título utilizado nos Embeds:
embed_title = ''

# Cor do Embed de ajuda:
help_embed_colour = 

# Valor de string para fazer um campo de embed ficar vazio:
empty_value = '\u200b'

# Módulos desativados (escrever nome do arquivo com extensão: 'status.py', 'database.py')
disabled_modules = [
    
]