# Arquivo base para as configurações hard-coded do bot.
# Neste arquivo ficarão armazenadas variáveis importantes para o arquivo principal do bot, por ora.
# Para utilizá-lo, faça uma cópia deste arquivo como settings.py.
# Este arquivo foi criado com o intuito de fazer o código do bot mais seguro.
# Este e todos os outros arquivos separados de configuração de cada módulo
# serão descontinuados quando o bando de dados for implementado.

# Token do BOT, obtido na página: discord.com/developers/applications/id_da_aplicação/bot
bot_token = ''

# Prefixo para os comandos do BOT:
bot_prefix = '?'

# Nome do bot:
bot_name = ''

# Nome do arquivo principal do bot
main_file = ''

# Somente o nome da pasta, que deve estar no mesmo diretório do arquivo bot.py
modules_dir = 'modules'

# Módulos desativados (escrever nome do arquivo com extensão: status.py)
disabled_modules = [
    '',
    ''
]

# Nome do arquivo principal do bot
main_file = ''

# Tipo de atividade do BOT (streaming[twitch.tv/], watching, listening, playing):
activity_type = ''
streaming_url = ''
status = ''

# Nome/descrição da atividade padrão do BOT:
activity_name = ''

#-----------------------------------------------------------------------------------------------#
# Configurações do banco de dados:

# IP do banco de dados:
host = ''

# Porta do banco de dados:
port = ''

# Nome do usuário que será utilizado:
user = ''

# Senha deste usuário:
password = ''

# Nome do bando de dados (se não existente, será criado):
db = ''

# Identificação do cluster (para o caso de MongoDB):
cluster = ''

# ID do canal de logs de alterações do banco de dados
logs_channel_id = 

# Valor decimal (da cor em hexadecimal) da cor da mensagem que registra logs neutros do banco de dados:
neutral_db_colour = 61680

# Valor decimal (da cor em hexadecimal) da cor da mensagem que registra logs negativos do banco de dados:
negative_db_colour = 16711680

# Valor decimal (da cor em hexadecimal) da cor da mensagem que registra logs positivos do banco de dados:
positive_db_colour = 16776960

collections = [
    '',
    ''
]

#-----------------------------------------------------------------------------------------------#
# Outras configurações:

# URL utilizada para referenciar o site da comunidade em embeds ou outros:
url = ''

# URL utilizada para referenciar o painel do bot:
url_panel = ''

# Título utilizado nos Embeds:
embed_title = ''

# Cor do Embed de ajuda:
help_embed_colour = 16711680

# Formato de datas:
date_format = "às %H:%M:%S em %d/%m/%Y"

# Valor de string para fazer um campo de embed ficar vazio:
empty_value = '\u200b'
